<app-page-title title="Quote calculator"></app-page-title>

<!-- Assume only one worker for now -->
<form
	id="budget-form"
	class="flex flex-col items-start gap-4 p-4 border rounded-lg"
	method="post"
	spellcheck="false"
>
	<h2 class="text-lg font-semibold">Workers</h2>

	<div class="grid grid-cols-2 gap-4">
		<div class="flex flex-col gap-1">
			<h3>Time worked</h3>
			<div class="flex">
				<input
					class="w-32 h-8 px-2 text-sm border border-r-0 rounded-l-md focus:z-10"
					name="timeWorked"
					type="number"
					placeholder="36"
					min="1"
					required
				/>

				<select
					class="h-8 px-2 text-sm border cursor-pointer rounded-r-md"
					name="timeUnit"
				>
					<option value="hours">Hours</option>
					<option value="days">Days</option>
					<option value="months">Months</option>
				</select>
			</div>
		</div>

		<div class="flex flex-col gap-1">
			<h3>Pay grade</h3>
			<select
				class="h-8 px-2 text-sm border rounded-md cursor-pointer"
				name="payGrade"
				required
			>
				<option value="junior">Junior</option>
				<option value="standard">Standard</option>
				<option value="senior">Senior</option>
			</select>
		</div>
	</div>

	<h2 class="mt-4 text-lg font-semibold">Physical Resources</h2>

	<div class="grid grid-cols-2">
		<div class="flex flex-col gap-1">
			<h3>One-off Cost</h3>
			<input
				class="w-32 h-8 px-2 text-sm border rounded-md"
				name="oneOffCost"
				type="number"
				placeholder="£"
				min="1"
				required
			/>
		</div>

		<div class="flex flex-col gap-1">
			<h3>Ongoing Cost</h3>
			<div class="flex">
				<input
					class="w-32 h-8 px-2 text-sm border border-r-0 rounded-l-md focus:z-10"
					name="ongoingCost"
					type="number"
					placeholder="£"
					min="1"
					required
				/>

				<select
					class="h-8 px-2 text-sm border cursor-pointer rounded-r-md"
					name="ongoingFrequency"
					required
				>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
				</select>
			</div>
		</div>
	</div>

	<button
		class="flex items-center h-8 px-2 rounded text-slate-50 bg-emerald-600"
	>
		<span class="text-sm font-semibold">Calculate</span>

		<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -mr-1">
			<path
				fill-rule="evenodd"
				d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
				clip-rule="evenodd"
			/>
		</svg>
	</button>

	<div id="output" class="text-2xl empty:hidden"></div>
</form>

<app-user-notice></app-user-notice>
