<div class="my-4">
	<app-page-title title="Quote calculator"></app-page-title>
</div>

<form
	[formGroup]="budgetForm"
	class="flex flex-col items-start gap-4 p-4 bg-white border rounded-lg"
	method="post"
	spellcheck="false"
>
	<ng-container *ngIf="isLoggedIn$ | async">
		<div class="flex flex-col gap-2">
			<label class="text-sm font-semibold cursor-pointer" for="projectName"
				>Project name</label
			>

			<input
				class="w-64 h-8 px-2 text-sm border rounded-md"
				id="projectName"
				formControlName="projectName"
				type="text"
				placeholder="My project"
				maxlength="32"
				required
			/>
		</div>

		<hr class="w-full my-4" />
	</ng-container>

	<div class="flex items-center gap-4">
		<h2 class="text-lg">Workers</h2>
		<app-button text="Add worker" (click)="addWorker()"></app-button>
	</div>

	<table
		class="-mx-2 border-separate table-fixed border-spacing-y-1 border-spacing-x-2"
		*ngIf="budgetForm.controls['workers'].controls.length"
	>
		<thead>
			<tr class="border-b">
				<td class="w-48 text-sm font-semibold">Time worked</td>
				<td class="w-24 text-sm font-semibold">Units</td>
				<td class="w-24 text-sm font-semibold">Pay grade</td>
				<td></td>
			</tr>
		</thead>

		<tbody formArrayName="workers">
			<ng-container
				*ngFor="
					let workerForm of budgetForm.controls['workers'].controls;
					let i = index
				"
			>
				<tr [formGroup]="workerForm">
					<td class="py-2">
						<input
							class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="timeWorked"
							type="number"
							placeholder="36"
							min="1"
							required
						/>
					</td>

					<td>
						<select
							class="w-24 h-8 px-2 text-sm border rounded cursor-pointer"
							formControlName="timeUnit"
						>
							<option *ngFor="let unit of timeUnits" [value]="unit">
								{{ unit | titlecase }}
							</option>
						</select>
					</td>

					<td>
						<select
							class="w-24 h-8 px-2 text-sm border rounded-md cursor-pointer"
							formControlName="payGrade"
							required
						>
							<option *ngFor="let grade of payGrades" [value]="grade">
								{{ grade | titlecase }}
							</option>
						</select>
					</td>

					<td>
						<app-button text="Delete" (click)="removeWorker(i)"></app-button>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>

	<hr class="w-full my-4" />

	<div class="grid grid-cols-2">
		<div class="flex flex-col gap-1">
			<label class="text-sm font-semibold cursor-pointer" for="oneOffCost"
				>One-off cost</label
			>

			<input
				class="w-48 h-8 px-2 text-sm border rounded-md"
				id="oneOffCost"
				formControlName="oneOffCost"
				type="number"
				placeholder="£"
				min="0"
				required
			/>
		</div>

		<div class="flex flex-col gap-1">
			<label class="text-sm font-semibold cursor-pointer" for="ongoingCost"
				>Ongoing cost</label
			>

			<div class="flex">
				<input
					class="w-48 h-8 px-2 text-sm border rounded-l-md focus:z-10"
					id="ongoingCost"
					formControlName="ongoingCost"
					type="number"
					placeholder="£"
					min="0"
					required
				/>

				<select
					class="h-8 px-2 text-sm border border-l-0 cursor-pointer rounded-r-md"
					formControlName="ongoingFrequency"
					required
				>
					<option *ngFor="let freq of frequencies" [value]="freq">
						{{ freq }}
					</option>
				</select>
			</div>
		</div>
	</div>

	<app-button
		styles="px-8"
		text="Calculate"
		(click)="submitForm()"
	></app-button>
</form>

<div *ngIf="quote$ | async as quote" class="px-4 py-6">
	<div class="flex flex-col">
		<h2 class="text-gray-500">Estimated budget</h2>
		<div class="text-4xl">{{ quote | currency : 'GBP' }}</div>
	</div>

	<ng-container *ngIf="isLoggedIn$ | async">
		<div class="my-4">
			<button
				(click)="saveQuote()"
				type="button"
				class="flex items-center gap-2 p-2 border rounded"
			>
				<svg
					*ngIf="!hasSaved"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
					/>
				</svg>

				<svg
					*ngIf="hasSaved"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-6 h-6"
				>
					<path
						fill-rule="evenodd"
						d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
						clip-rule="evenodd"
					/>
				</svg>

				{{ hasSaved ? 'Quote saved' : 'Save this quote' }}
			</button>
		</div>
	</ng-container>
</div>

<ng-container *ngIf="!(isLoggedIn$ | async)">
	<app-user-notice></app-user-notice>
</ng-container>
