<div class="my-4">
	<app-page-title title="Quote calculator"></app-page-title>
</div>

<form
	[formGroup]="budgetForm"
	class="flex flex-col items-start gap-4 p-4 bg-white border rounded-lg"
	method="post"
	spellcheck="false"
>
	<div class="flex items-center gap-2">
		<h2 class="text-lg">Workers</h2>

		<button
			class="flex items-center justify-center w-6 h-6 transition-colors border rounded text-emerald-600 border-emerald-600"
			type="button"
			(click)="addWorker()"
		>
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path
					d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
				/>
			</svg>
		</button>
	</div>

	<div class="flex flex-col gap-2">
		<!-- Header -->
		<div class="flex gap-2">
			<div class="w-48 text-sm font-semibold">Time worked</div>
			<div class="w-24 text-sm font-semibold">Units</div>
			<div class="w-24 text-sm font-semibold">Pay grade</div>
		</div>

		<!-- Body -->
		<div
			formArrayName="workers"
			class="flex flex-col gap-2 pr-2 overflow-x-hidden overflow-y-auto max-h-64"
		>
			<ng-container
				*ngFor="
					let workerForm of budgetForm.controls['workers'].controls;
					let i = index
				"
			>
				<div [formGroup]="workerForm" class="flex gap-2">
					<input
						class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="timeWorked"
						type="number"
						placeholder="36"
						min="1"
						required
					/>

					<select
						class="w-24 h-8 px-2 text-sm border rounded cursor-pointer"
						formControlName="timeUnit"
					>
						<option *ngFor="let unit of timeUnits" [value]="unit">
							{{ unit | titlecase }}
						</option>
					</select>

					<select
						class="w-24 h-8 px-2 text-sm border rounded-md cursor-pointer"
						formControlName="payGrade"
						required
					>
						<option *ngFor="let grade of payGrades" [value]="grade">
							{{ grade | titlecase }}
						</option>
					</select>

					<button
						*ngIf="i > 0"
						class="flex items-center justify-center h-8 gap-1 px-2 transition-colors rounded text-slate-50 bg-emerald-600 hover:bg-emerald-600/75 active:bg-emerald-700"
						type="button"
						(click)="removeWorker(i)"
					>
						<span class="text-sm font-semibold">Delete</span>
					</button>
				</div>
			</ng-container>
		</div>
	</div>

	<hr class="w-full" />

	<div class="flex items-center gap-2">
		<h2 class="text-lg">One-off Costs</h2>

		<button
			class="flex items-center justify-center w-6 h-6 transition-colors border rounded text-emerald-600 border-emerald-600"
			type="button"
			(click)="addOneOffCost()"
		>
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path
					d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
				/>
			</svg>
		</button>
	</div>

	<table
		class="-mx-2 border-separate table-fixed border-spacing-y-1 border-spacing-x-2"
		*ngIf="
			budgetForm.controls['oneOffCosts'].controls.length;
			else noOneOffCosts
		"
	>
		<thead>
			<tr class="border-b">
				<td class="w-48 text-sm font-semibold">Item name</td>
				<td class="w-32 text-sm font-semibold">Cost</td>
				<td></td>
			</tr>
		</thead>

		<tbody formArrayName="oneOffCosts">
			<ng-container
				*ngFor="
					let oneOffCostForm of budgetForm.controls['oneOffCosts'].controls;
					let i = index
				"
			>
				<tr [formGroup]="oneOffCostForm">
					<td class="py-2">
						<input
							class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="itemName"
							type="text"
							placeholder="E.g. desk"
							maxlength="64"
							required
						/>
					</td>

					<td class="py-2">
						<input
							class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="cost"
							type="number"
							placeholder="£"
							min="1"
							required
						/>
					</td>

					<td>
						<button
							class="flex items-center justify-center h-8 gap-1 px-2 transition-colors rounded text-slate-50 bg-emerald-600 hover:bg-emerald-600/75 active:bg-emerald-700"
							type="button"
							(click)="removeOneOffCost(i)"
						>
							<span class="text-sm font-semibold">Delete</span>
						</button>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>

	<ng-template #noOneOffCosts>
		<div class="italic">No one-off costs added</div>
	</ng-template>

	<hr class="w-full" />

	<div class="flex items-center gap-2">
		<h2 class="text-lg">Ongoing Costs</h2>

		<button
			class="flex items-center justify-center w-6 h-6 transition-colors border rounded text-emerald-600 border-emerald-600"
			type="button"
			(click)="addOngoingCost()"
		>
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path
					d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
				/>
			</svg>
		</button>
	</div>

	<table
		class="-mx-2 border-separate table-fixed border-spacing-y-1 border-spacing-x-2"
		*ngIf="
			budgetForm.controls['ongoingCosts'].controls.length;
			else noOngoingCosts
		"
	>
		<thead>
			<tr class="border-b">
				<td class="w-64 text-sm font-semibold">Item name</td>
				<td class="w-24 text-sm font-semibold">Cost</td>
				<td class="w-24 text-sm font-semibold">How many</td>
				<td class="w-24 text-sm font-semibold">How often</td>
				<td></td>
			</tr>
		</thead>

		<tbody formArrayName="ongoingCosts">
			<ng-container
				*ngFor="
					let ongoingCostForm of budgetForm.controls['ongoingCosts'].controls;
					let i = index
				"
			>
				<tr [formGroup]="ongoingCostForm">
					<td class="py-2">
						<input
							class="w-64 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="itemName"
							type="text"
							placeholder="E.g. desk"
							maxlength="64"
							required
						/>
					</td>

					<td class="py-2">
						<input
							class="w-24 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="cost"
							type="number"
							placeholder="£"
							min="1"
							required
						/>
					</td>

					<td class="py-2">
						<input
							class="w-24 h-8 px-2 text-sm border rounded focus:z-10"
							formControlName="amount"
							type="number"
							min="1"
							required
						/>
					</td>

					<td>
						<select
							class="w-24 h-8 px-2 text-sm border rounded cursor-pointer"
							formControlName="frequency"
						>
							<option *ngFor="let unit of frequencies" [value]="unit">
								{{ unit | titlecase }}
							</option>
						</select>
					</td>

					<td>
						<button
							class="flex items-center justify-center h-8 gap-1 px-2 transition-colors rounded text-slate-50 bg-emerald-600 hover:bg-emerald-600/75 active:bg-emerald-700"
							type="button"
							(click)="removeOngoingCost(i)"
						>
							<span class="text-sm font-semibold">Delete</span>
						</button>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>

	<ng-template #noOngoingCosts>
		<div class="italic">No ongoing costs added</div>
	</ng-template>

	<hr class="w-full" />

	<button
		class="flex items-center justify-center h-8 gap-1 px-8 transition-colors rounded text-slate-50 bg-emerald-600 hover:bg-emerald-600/75 active:bg-emerald-700"
		type="button"
		(click)="submitForm()"
	>
		<span class="text-sm font-semibold">Calculate</span>
	</button>
</form>

<div *ngIf="quote$ | async as quote" class="px-4 py-6">
	<div class="flex flex-col">
		<h2 class="text-gray-500">Estimated budget</h2>
		<div class="text-4xl">{{ quote | currency : 'GBP' }}</div>
	</div>

	<ng-container *ngIf="isLoggedIn$ | async">
		<div class="my-4">
			<button
				(click)="saveQuote()"
				type="button"
				class="flex items-center gap-2 p-2 border rounded"
			>
				<svg
					*ngIf="!hasSaved"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
					/>
				</svg>

				<svg
					*ngIf="hasSaved"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-6 h-6"
				>
					<path
						fill-rule="evenodd"
						d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
						clip-rule="evenodd"
					/>
				</svg>

				{{ hasSaved ? 'Quote saved' : 'Save this quote' }}
			</button>
		</div>
	</ng-container>
</div>

<ng-container *ngIf="!(isLoggedIn$ | async)">
	<app-user-notice></app-user-notice>
</ng-container>

<app-dialog header="Save quote">
	<app-save-quote-dialog></app-save-quote-dialog>
</app-dialog>
