<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head', { title: 'Get a Quote' }) %>
	</head>
	<body>
		<%- include('../partials/nav') %>
		<div class="max-w-4xl mx-auto">
			<h1 class="mb-4 text-2xl">Get a quote</h1>

			<!-- Assume only one worker for now -->
			<form
				id="budget-form"
				class="flex flex-col items-start gap-2"
				method="post"
				spellcheck="false"
				autocomplete="off"
			>
				<h3>Hours worked</h3>
				<div class="flex">
					<input
						class="w-32 h-8 px-2 border border-r-0 rounded-l-md text-sm focus:z-10"
						name="time-worked"
						type="number"
						placeholder="123"
					/>

					<select class="h-8 px-2 border rounded-r-md text-sm cursor-pointer" name="time-unit">
						<option value="hours">Hours</option>
						<option value="days">Days</option>
						<option value="months">Months</option>
					</select>
				</div>

				<h3>Pay grade</h3>
				<select class="h-8 px-2 border rounded-md text-sm cursor-pointer" name="pay-grade">
					<option value="junior">Junior</option>
					<option value="standard">Standard</option>
					<option value="senior">Senior</option>
				</select>

				<h3>One-off Cost</h3>
				<input class="w-32 h-8 px-2 border rounded-md text-sm" name="one-off" type="number" />

				<h3>Ongoing Cost</h3>
				<div class="flex">
					<input
						class="w-32 h-8 px-2 border border-r-0 rounded-l-md text-sm focus:z-10"
						name="ongoing-cost"
						type="number"
					/>

					<select class="h-8 px-2 border rounded-r-md text-sm cursor-pointer" name="ongoing-freq">
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
					</select>
				</div>

				<button class="h-8 px-2 rounded bg-slate-300 text-sm">Calculate</button>
			</form>
		</div>

		<script src="/scripts/budget-form.js"></script>
	</body>
</html>
