<app-page-title title="Sign In"></app-page-title>

<form
	[formGroup]="loginForm"
	class="flex flex-col items-start gap-4 py-4"
	method="post"
	spellcheck="false"
>
	<div class="flex flex-col gap-1">
		<h3>Username</h3>

		<input
			class="w-32 h-8 px-2 text-sm border rounded-md"
			name="username"
			formControlName="username"
			placeholder="JSmith"
			maxlength="32"
			required
		/>
	</div>

	<div class="flex flex-col gap-1">
		<h3>Password</h3>

		<input
			class="w-32 h-8 px-2 text-sm border rounded-md"
			type="password"
			name="password"
			formControlName="password"
			placeholder="••••••••"
			maxlength="72"
			required
		/>
	</div>

	<button
		class="flex items-center h-8 px-2 rounded text-slate-50 bg-emerald-600"
		type="button"
		(click)="submitForm()"
	>
		<span class="text-sm font-semibold">Sign in</span>
	</button>
</form>
