<form
	#form
	[formGroup]="budgetForm"
	class="flex flex-col items-start gap-4 bg-white border rounded-lg shadow-sm shadow-slate-300/50"
	method="post"
	spellcheck="false"
	(keyup.enter)="submitForm()"
>
	<!-- Workers Form -->

	<div class="flex items-center justify-between w-full px-6 py-4 border-b">
		<h2 class="text-lg font-semibold">Workers</h2>

		<button appButton type="secondary" size="small" (click)="addWorker()">
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -ml-1">
				<path
					d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
				/>
			</svg>

			<span>Add worker</span>
		</button>
	</div>

	<div class="flex flex-col items-start gap-2 px-6">
		<!-- Headers -->
		<div class="flex gap-2">
			<div class="w-48 text-sm font-semibold">Time worked</div>
			<div class="w-24 text-sm font-semibold">Units</div>
			<div class="w-24 text-sm font-semibold">Pay grade</div>
		</div>

		<!-- Rows -->
		<div formArrayName="workers" class="flex flex-col gap-2">
			<ng-container
				*ngFor="
					let workerForm of budgetForm.controls['workers'].controls;
					let i = index
				"
			>
				<div [formGroup]="workerForm" class="flex gap-2">
					<input
						class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="timeWorked"
						type="number"
						placeholder="36"
						min="1"
						required
					/>

					<select
						class="w-24 h-8 px-2 text-sm border rounded cursor-pointer"
						formControlName="timeUnit"
					>
						<option *ngFor="let unit of timeUnits" [value]="unit">
							{{ unit | titlecase }}
						</option>
					</select>

					<select
						class="w-24 h-8 px-2 text-sm border rounded-md cursor-pointer"
						formControlName="payGrade"
						required
					>
						<option *ngFor="let grade of payGrades" [value]="grade">
							{{ grade | titlecase }}
						</option>
					</select>

					<app-x-button *ngIf="i > 0" (click)="removeWorker(i)"></app-x-button>
				</div>
			</ng-container>
		</div>
	</div>

	<!-- One-off Costs Form -->

	<div class="flex items-center justify-between w-full px-6 py-4 border-y">
		<h2 class="text-lg font-semibold">One-off Costs</h2>

		<button appButton type="secondary" size="small" (click)="addOneOffCost()">
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -ml-1">
				<path
					d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
				/>
			</svg>

			<span>Add item</span>
		</button>
	</div>

	<div
		*ngIf="budgetForm.controls['oneOffCosts'].controls.length"
		class="flex flex-col items-start gap-2 px-6"
	>
		<!-- Headers -->
		<div class="flex gap-2">
			<div class="w-48 text-sm font-semibold">Item name</div>
			<div class="w-24 text-sm font-semibold">Cost</div>
		</div>

		<!-- Rows -->
		<div formArrayName="workers" class="flex flex-col gap-2">
			<ng-container
				*ngFor="
					let oneOffCostForm of budgetForm.controls['oneOffCosts'].controls;
					let i = index
				"
			>
				<div [formGroup]="oneOffCostForm" class="flex gap-2">
					<input
						class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="itemName"
						type="text"
						placeholder="E.g. desk"
						maxlength="64"
						required
					/>

					<input
						class="w-48 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="cost"
						type="number"
						placeholder="£"
						min="1"
						required
					/>

					<app-x-button (click)="removeOneOffCost(i)"></app-x-button>
				</div>
			</ng-container>
		</div>
	</div>

	<!-- Ongoing Costs Form -->

	<div class="flex items-center justify-between w-full px-6 py-4 border-y">
		<h2 class="text-lg font-semibold">Ongoing Costs</h2>

		<button appButton type="secondary" size="small" (click)="addOngoingCost()">
			<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -ml-1">
				<path
					d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
				/>
			</svg>

			<span>Add item</span>
		</button>
	</div>

	<div
		*ngIf="budgetForm.controls['ongoingCosts'].controls.length"
		class="flex flex-col items-start gap-2 px-6"
	>
		<!-- Headers -->
		<div class="flex gap-2">
			<div class="w-64 text-sm font-semibold">Item name</div>
			<div class="w-24 text-sm font-semibold">Cost</div>
			<div class="w-24 text-sm font-semibold">How many</div>
			<div class="w-24 text-sm font-semibold">How often</div>
		</div>

		<!-- Rows -->
		<div formArrayName="workers" class="flex flex-col gap-2">
			<ng-container
				*ngFor="
					let ongoingCostForm of budgetForm.controls['ongoingCosts'].controls;
					let i = index
				"
			>
				<div [formGroup]="ongoingCostForm" class="flex gap-2">
					<input
						class="w-64 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="itemName"
						type="text"
						placeholder="E.g. desk"
						maxlength="64"
						required
					/>

					<input
						class="w-24 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="cost"
						type="number"
						placeholder="£"
						min="1"
						required
					/>

					<input
						class="w-24 h-8 px-2 text-sm border rounded focus:z-10"
						formControlName="amount"
						type="number"
						min="1"
						required
					/>

					<select
						class="w-24 h-8 px-2 text-sm border rounded cursor-pointer"
						formControlName="frequency"
					>
						<option *ngFor="let unit of frequencies" [value]="unit">
							{{ unit | titlecase }}
						</option>
					</select>

					<app-x-button (click)="removeOngoingCost(i)"></app-x-button>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="flex w-full gap-2 px-6 py-4 border-y">
		<button appButton (click)="submitForm()">Calculate</button>

		<button
			[disabled]="!hasChanges$.value"
			(click)="saveQuote()"
			appButton
			type="secondary"
			size="small"
		>
			<svg
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-5 h-5 mr-1"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
				/>
			</svg>

			<span>Save</span>
		</button>
	</div>
</form>

<!-- Quote saving dialog -->
<app-dialog header="Enter a project name">
	<app-save-quote-dialog></app-save-quote-dialog>
</app-dialog>
