<div class="flex flex-col items-center pt-8">
	<app-page-title title="Sign Up"></app-page-title>

	<form
		[formGroup]="signupForm"
		class="flex flex-col items-start gap-4 py-4"
		method="post"
		spellcheck="false"
		(keyup.enter)="submitForm()"
	>
		<div class="flex flex-col">
			<label class="my-2 font-semibold cursor-pointer" for="firstname"
				>First name</label
			>

			<input
				class="w-64 h-8 px-2 text-sm border rounded-md"
				id="firstname"
				name="firstname"
				formControlName="firstname"
				placeholder="Buster"
				maxlength="32"
				required
			/>

			<div
				*ngIf="
					signupForm.controls['firstname'].invalid &&
					signupForm.controls['firstname'].touched
				"
				class="mt-1 text-sm italic text-red-700"
			>
				<ng-container
					*ngIf="signupForm.controls['firstname'].errors?.['required']"
				>
					This field is required
				</ng-container>
			</div>
		</div>

		<div class="flex flex-col">
			<label class="my-2 font-semibold cursor-pointer" for="lastname"
				>Last name</label
			>

			<input
				class="w-64 h-8 px-2 text-sm border rounded-md"
				id="lastname"
				name="lastname"
				formControlName="lastname"
				placeholder="Scruggs"
				maxlength="48"
				required
			/>

			<div
				*ngIf="
					signupForm.controls['lastname'].invalid &&
					signupForm.controls['lastname'].touched
				"
				class="mt-1 text-sm italic text-red-700"
			>
				<ng-container
					*ngIf="signupForm.controls['lastname'].errors?.['required']"
				>
					This field is required
				</ng-container>
			</div>
		</div>

		<div class="flex flex-col">
			<label class="my-2 font-semibold cursor-pointer" for="username"
				>Username</label
			>

			<input
				class="w-64 h-8 px-2 text-sm border rounded-md"
				id="username"
				name="username"
				formControlName="username"
				placeholder="b.scruggs"
				maxlength="32"
				required
			/>

			<div
				*ngIf="
					signupForm.controls['username'].invalid &&
					signupForm.controls['username'].touched
				"
				class="mt-1 text-sm italic text-red-700"
			>
				<ng-container
					*ngIf="signupForm.controls['username'].errors?.['required']"
				>
					This field is required
				</ng-container>
			</div>
		</div>

		<div class="flex flex-col">
			<label class="my-2 font-semibold cursor-pointer" for="password"
				>Password</label
			>

			<input
				class="w-64 h-8 px-2 text-sm border rounded-md"
				id="password"
				type="password"
				formControlName="password"
				placeholder="••••••••"
				maxlength="72"
				required
			/>

			<div
				*ngIf="
					signupForm.controls['password'].invalid &&
					signupForm.controls['password'].touched
				"
				class="mt-1 text-sm italic text-red-700"
			>
				<ng-container
					*ngIf="signupForm.controls['password'].errors?.['required']"
				>
					This field is required
				</ng-container>
			</div>
		</div>

		<button
			class="flex items-center justify-center w-64 h-8 gap-1 px-2 transition-colors rounded text-slate-50 bg-emerald-600 hover:bg-emerald-600/75 active:bg-emerald-700"
			type="button"
			(click)="submitForm()"
		>
			<span class="text-sm font-semibold">Create</span>
		</button>
	</form>

	<ng-container *ngIf="response$ | async as response">
		<div>{{ response }}</div>
	</ng-container>
</div>
