<% var hasSession = false; %>
<nav class="flex items-center justify-center p-4">
	<div class="flex items-center justify-between w-full max-w-4xl">
		<!-- Left -->
		<div class="flex gap-4">
			<a class="text-sm font-semibold transition-opacity hover:opacity-50" href="/">Home</a>
		</div>

		<!--  Right -->
		<div class="flex items-center gap-4">
			<% if (hasSession) { %>
			<a class="text-sm font-semibold transition-opacity hover:opacity-50" href="/account"
				>Account</a
			>
			<% } else { %>
			<a class="text-sm font-semibold transition-opacity hover:opacity-50" href="/login">Sign in</a>

			<a
				class="px-2 py-1 text-sm font-semibold transition-opacity border rounded hover:opacity-50"
				href="/signup"
				>Sign up</a
			>
			<% } %>
		</div>
	</div>
</nav>
